@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clock {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #0fa;
  font-size: calc(0.75em + 9vmin);
  font-family: "Audiowide", cursive;
}
